// custom grid override for category list section
.custom-grid {
  @include flex(flex-start, center);
  flex-wrap: wrap;
}

// custom table implementation for category list section
.table {
  border: 1px solid #dee2e6;

  &-header {
    width: 100%;
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 0 1rem;
  }

  &-footer {
    width: 100%;
    padding: 5px;
    height: 5rem;
    @include flex();
    background-color: #f8f9fa;
  }

  &-row {
    width: 100%;
    height: auto;
    min-height: 3.55rem;
    @include flex(flex-start, center);
  }

  &-content-row {
    @extend .table-row;
    padding: 0 1rem;
    border-bottom: 1px solid #dee2e6;
    // &:not(:last-child) {
    // }
  }

  &-action-column {
    @include flex(flex-start);
  }
}

.category {
  &-color-box {
    display: block;
    width: 10rem;
    height: 2rem;
  }
}
