<div class="sidebar">
  <div class="sidebar-logo">
    <img src="/assets/images/logo.png" alt="sidebar-logo" />
  </div>
  <nav class="nav">
    <ul class="nav-links">
      <li class="nav-link">
        <a routerLink="/dashboard"><i class="pi pi-home"></i>Dashboard</a>
      </li>
      <li class="nav-link">
        <a routerLink="/products"><i class="pi pi-briefcase"></i>Products</a>
      </li>
      <li class="nav-link">
        <a routerLink="/categories"><i class="pi pi-list"></i>Categories</a>
      </li>
      <li class="nav-link">
        <a routerLink="/orders"><i class="pi pi-shopping-cart"></i>Orders</a>
      </li>
      <li class="nav-link">
        <a routerLink="/users"><i class="pi pi-users"></i>Users</a>
      </li>
      <li class="nav-link">
        <a><i class="pi pi-check"></i>Logout</a>
      </li>
    </ul>
  </nav>
</div>
